
*{
  box-sizing: border-box;
}
.container {
  text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }


header {
  color:rgb(255, 255, 255);
  text-align: center;
}
body {
  color: black;
}
  h1 {

  background-color: rgb(52, 40, 104);
  padding: 50px;
}

.row  {
  margin: 5x;
  padding: 5px;
  box-sizing: 30px;
  text-align: left;
  
}

#currentCityInfo {
  color: black;
}

form {
  text-align: left;
}


#currentCity{
  border: solid;
  border-width: 5px;
  border-color: black;
  padding: 5px;
  margin: 5px;
}

#forcast {
  padding: 5px;
  margin: 5px
}

#card {
  background-color: blueviolet;
}